
<form>
  Item ID:<br>
  <input type="text" name="itemid"><br>
  Name:<br>
  <input type="text" name="name"><br>
  Type:<br>
  <input type="text" name="type"><br>
  Location:<br>
  <input type="text" name="location"><br>
  Status:<br>
  <input type="text" name="status"><br>
  Capus:<br>
  <input type="radio" name="campus" value="Rangsit"> Rangsit<br>
  <input type="radio" name="campus" value="Bangkadi" checked> Bangkadi<br>
  <br><button type="button">Search</button>
 </form>