<table border="1" style="width:100%">
  <tr>
    <td>Item ID</td>
    <td>Item name</td>
	<td>Location</td>
    <td>Request to edit</td>
	<td>Request to delete</td>
  </tr>
  <tr>
    <td>7110-613-XX01</td>
    <td>Chair</td>
	<td>BKD 2506</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
  </tr>
    <tr>
    <td>7110-613-XX02</td>
	<td>Chair</td>
    <td>BKD 2501</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
  </tr>
    <tr>
    <td>7110-613-XX03</td>
    <td>Chair</td>
	<td>BKD 2601</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
  </tr>
    <tr>
    <td>7110-613-XX04</td>
    <td>Chair</td>
	<td>BKD 2601</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
  </tr>
    <tr>
    <td>7110-613-XX05</td>
    <td>Chair</td>
	<td>BKD 3510</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
  </tr>
  <tr>
    <td>7110-614-XX01</td>
    <td>Table</td>
	<td>BKD 2506</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
  </tr>
    <tr>
    <td>7110-614-XX02</td>
    <td>Table</td>
	<td>BKD 2501</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
  </tr>
    <tr>
    <td>7110-614-XX03</td>
    <td>Table</td>
	<td>BKD 2601</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
  </tr>
    <tr>
    <td>7110-614-XX04</td>
    <td>Table</td>
	<td>BKD 2602</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
  </tr>
    <tr>
    <td>7110-614-XX05</td>
    <td>Table</td>
	<td>BKD 3510</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
  </tr>
  <tr>
    <td>7110-615-XX01</td>
    <td>iMac</td>
	<td>CIC Lab</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td></td>
  </tr>
    <tr>
    <td>7110-615-XX02</td>
    <td>iMac</td>
	<td>CIC Lab</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td></td>
  </tr>
    <tr>
    <td>7110-615-XX03</td>
    <td>iMac</td>
	<td>CIC Lab</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td></td>
  </tr>
    <tr>
    <td>7110-615-XX04</td>
    <td>iMac</td>
	<td>CIC Lab</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td></td>
  </tr>
    <tr>
    <td>7110-615-XX05</td>
    <td>iMac</td>
	<td>CIC Lab</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td></td>
  </tr>
    <tr>
    <td>7110-616-XX01</td>
    <td>LG Nexus</td>
	<td>CIC Lab</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td></td>
  </tr>
      <tr>
    <td>7110-616-XX02</td>
    <td>LG Nexus</td>
	<td>CIC Lab</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td></td>
  </tr>
      <tr>
    <td>7110-616-XX03</td>
    <td>LG Nexus</td>
	<td>CIC Lab</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td></td>
  </tr>
      <tr>
    <td>7110-616-XX04</td>
    <td>LG Nexus</td>
	<td>CIC Lab</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td></td>
  </tr>
      <tr>
    <td>7110-616-XX05</td>
    <td>LG Nexus</td>
	<td>CIC Lab</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td></td>
  </tr>
      <tr>
    <td>7110-617-XX01</td>
    <td>Sony Projector</td>
	<td>BKD 3207</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td></td>
  </tr>
        <tr>
    <td>7110-617-XX02</td>
    <td>Sony Projector</td>
	<td>BKD 3201</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td></td>
  </tr>
        <tr>
    <td>7110-617-XX03</td>
    <td>Sony Projector</td>
	<td>BKD 2401</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td></td>
  </tr>
        <tr>
    <td>7110-618-XX01</td>
    <td>Sony Web Camera</td>
	<td>CIC Lab</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td></td>
  </tr>
          <tr>
    <td>7110-618-XX02</td>
    <td>Sony Web Camera</td>
	<td>CIC Lab</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td></td>
  </tr>
          <tr>
    <td>7110-618-XX03</td>
    <td>Sony Web Camera</td>
	<td>CIC Lab</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td></td>
  </tr>
          <tr>
    <td>7110-618-XX04</td>
    <td>Sony Web Camera</td>
	<td>Network Lab</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td></td>
  </tr>
          <tr>
    <td>7110-618-XX05</td>
    <td>Sony Web Camera</td>
	<td>Network Lab</td>
    <td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td><a href="C:/AppServ/www/seas/request.html">Request</a></td>
	<td></td>
  </tr>
</table>