
<table border="1" style="width:100%">
  <tr>
    <td>Search Date</td>
    <td>Item ID</td>
    <td>Item name</td>
    <td>Status</td>
	<td>Cancle</td>
  </tr>
  <tr>
    <td>15-03-2016</td>
    <td>7110-616-XXXX</td>
    <td>LG Nexus</td>
    <td>Avaliable</td>
	<td><a href="C:/AppServ/www/seas/cancle.html">Request</a></td>
  </tr>
  <tr>
    <td>17-03-2016</td>
    <td>7110-613-XXXX</td>
    <td>Chair</td> 
	<td>Requested</td>
	<td><a href="C:/AppServ/www/seas/cancle.html">Cancle</a></td>
  </tr>
       <tr>
	<td>17-03-2016</td>  
    <td>7110-617-XXXX</td>
    <td>Sony Projector</td>
    <td>Avaliable</td>
	<td><a href="C:/AppServ/www/seas/cancle.html">Request</a></td>
  </tr>
      <tr>
	  <td>17-03-2016</td>
    <td>7110-618-XXXX</td>
    <td>Sony Web Camera</td>
    <td>Avaliable</td>
	<td><a href="C:/AppServ/www/seas/cancle.html">Request</a></td>
  </tr>
  <tr>
  <td>18-03-2016</td>
    <td>7110-614-XXXX</td>
    <td>Table</td>
    <td>Requested</td>
	<td><a href="C:/AppServ/www/seas/cancle.html">Cancle</a></td>
  </tr>
  <tr>
  <td>19-03-2016</td>
    <td>7110-615-XXXX</td>
    <td>iMac</td>
    <td>Received</td>
	<td></td>
  </tr>
	</table>