
<table border="1" width="100%" style="font-size:12px;background-color:white;" class="table-hover" >
  <tr>
    <th>Action</th>
    <th>Item ID</th>
    <th>User</th>
    <th>Keyword</th>
  </tr>
  </tr>

  <% History.all.each do |h| %>
  <tbody align="center">
      <tr>
	  <td><%= h.action %></td>
    <td><%= h.equip_id %></td>
    <td><%= h.user_name %></td>
    <td><%= h.keyword %></td>
  </tr>
</tbody>
  <% end %>
	</table>