<h3>School Equipment Auditing System</h3>
<a href="C:/AppServ/www/seas/index.html">Home</a>
<a href="C:/AppServ/www/seas/search.html">Advance Search</a>
<a href="C:/AppServ/www/seas/reserved.html">Reserved</a>
<a href="C:/AppServ/www/seas/history.html">History</a>
<a href="C:/AppServ/www/seas/editdelete.html">Edit/Delete</a>
<a href="C:/AppServ/www/seas/audit.html">Audit</a>
<a href="C:/AppServ/www/seas/located.html">Located</a>
<a href="C:/AppServ/www/seas/report.html">Report</a>
<a href="C:/AppServ/www/seas/login.html">Login</a>
<a href="C:/AppServ/www/seas/signup.html">Sign up</a><br>
<form>
  <form>
  <input type="radio" name="campus" value="rs" checked> Rungsit<br>
  <input type="radio" name="campus" value="bkd"> Bangkadi<br>
</form>
  Room:<br>
  <input type="text" name="roomno"><br>
  <br><a href="C:/AppServ/www/seas/locateds.html"<button type="button">Search</button></a>
</form>