<html>
<head>
<title>SEAS</title>
</head>
<body>

<table border="1" style="width:100%">
  <tr>
    <td>Item ID</td>
    <td>Item name</td>
	<td>Location</td>
    <td>Brand</td>
	<td>Department</td>
  </tr>
  <tr>
    <td>7110-615-XX01</td>
    <td>iMac</td>
	<td>CIC Lab</td>
    <td>Apple</td>
	<td>ICT</a></td>
	<td></td>
  </tr>
    <tr>
    <td>7110-615-XX02</td>
    <td>iMac</td>
	<td>CIC Lab</td>
    <td>Apple</td>
	<td>ICT</a></td>
	<td></td>
  </tr>
    <tr>
    <td>7110-615-XX03</td>
    <td>iMac</td>
	<td>CIC Lab</td>
    <td>Apple</td>
	<td>ICT</a></td>
	<td></td>
  </tr>
    <tr>
    <td>7110-615-XX04</td>
    <td>iMac</td>
	<td>CIC Lab</td>
    <td>Apple</td>
	<td>ICT</a></td>
	<td></td>
  </tr>
    <tr>
    <td>7110-615-XX05</td>
    <td>iMac</td>
	<td>CIC Lab</td>
    <td>Apple</td>
	<td>ICT</a></td>
	<td></td>
  </tr>
</table>