<form>
  Take a Photo:<br>
  <img src="111.png" alt="deskop" style="width:100px;height:100px;">
  <br>Description:<br>
  <input type="text" name="roomno"><br>
  <br><button type="button" a href="C:/AppServ/www/seas/home.html">Search</button>
</form>