<html>
<head>
<title>SEAS</title>
</head>
<body>

<h1>School Equipment Auditing System</h1>
<a href="C:/AppServ/www/seas/index.html">Home</a>
<a href="C:/AppServ/www/seas/search.html">Advance Search</a>
<a href="C:/AppServ/www/seas/reserved.html">Reserved</a>
<a href="C:/AppServ/www/seas/history.html">History</a>
<a href="C:/AppServ/www/seas/editdelete.html">Edit/Delete</a>
<a href="C:/AppServ/www/seas/audit.html">Audit</a>
<a href="C:/AppServ/www/seas/located.html">Located</a>
<a href="C:/AppServ/www/seas/report.html">Report</a>
<a href="C:/AppServ/www/seas/login.html">Login</a>
<a href="C:/AppServ/www/seas/signup.html">Sign up</a><br>
<table border="1" style="width:100%">
  <tr>
    <td>Item ID</td>
    <td>Item name</td>
	<td>Request Date</td>
    <td>Status</td>
	<td>Cancle</td>
  </tr>
  <tr>
    <td>7110-613-XXXX</td>
    <td>Chair</td>
	<td>17-03-2016</td>
    <td>Requested</td>
	<td><a href="C:/AppServ/www/seas/cancle.html">Cancle</a></td>
  </tr>
  <tr>
    <td>7110-614-XXXX</td>
    <td>Table</td>
	<td>18-03-2016</td>
    <td>Requested</td>
	<td><a href="C:/AppServ/www/seas/cancle.html">Cancle</a></td>
  </tr>
  <tr>
    <td>7110-615-XXXX</td>
    <td>iMac</td>
	<td>19-03-2016</td>
    <td>Received</td>
	<td></td>
  </tr>
</table>

</body>
</html>