<table border="1" style="width:100%">
  <tr>
    <td>Item ID</td>
    <td>Item name</td>
	<td>Request Date</td>
    <td>Status</td>
	<td>Cancle</td>
  </tr>
  <tr>
    <td>7110-613-XXXX</td>
    <td>Chair</td>
	<td>17-03-2016</td>
    <td>Requested</td>
	<td><a href="C:/AppServ/www/seas/cancle.html">Cancle</a></td>
  </tr>
  <tr>
    <td>7110-614-XXXX</td>
    <td>Table</td>
	<td>18-03-2016</td>
    <td>Requested</td>
	<td><a href="C:/AppServ/www/seas/cancle.html">Cancle</a></td>
  </tr>
  <tr>
    <td>7110-615-XXXX</td>
    <td>iMac</td>
	<td>19-03-2016</td>
    <td>Received</td>
	<td></td>
  </tr>
</table>