<img src="001.jpg" alt="deskop" style="width:304px;height:228px;">
<table border="1" style="width:100%">
  <tr>
    <td>Item ID</td>
    <td>Item name</td>
	<td>Buying Date</td>
	<td>Department</td>
	<td>Expired</td>
	<td>Brand</td>
	<td>Comment</td> 
  </tr>
  <tr>
    <td>7110-616-XXXX</td>
    <td>LG Nexus</td>
    <td>1-1-2010</td>
	<td>ICT</td>
	<td>2015</td>
	<td>LG</td>
	<td>CIC Lab</td>
	
  </tr>
  </table>
  <br><a href="C:/AppServ/www/seas/index.html"> Back </a>